html {
  background-color: BurlyWood;
}

header {
  grid-area: header;
  display: block;
  position: fixed;
  top: 5;
}

p {
  margin-left: 200px;
  margin-right: 200px;

  font-size: 15pt;
}

h1 {
  text-align: center;
  margin-top: 100px;
  margin-right: 100px;
}

.info {
  padding: 15px 35px;
  font-size: 15pt;
  text-align: left;
  word-wrap: break-word;
  margin-left: 200px;
  width: 1000px;
}

.info__switch {
  display: none;
}

.info__body {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
}

.info__switch:checked~.info__body {
  max-height: 1000px;
}

.info__headline::before {
  content: "";
  position: absolute;
  left: -18px;
  top: 4px;
  border: 6px solid #39739d;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.info__switch:checked~.info__headline::before {
  transform: rotate(180deg) translateY(6px);
}

.info__headline {
  display: block;
  position: relative;
  margin-bottom: 15px;
  user-select: none;
  color: Navy;
  font-weight: normal;
  cursor: pointer;
}

.info__headline:hover {
  text-decoration: underline;
}
