html {
    background: url("images/fon.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.not_clickable {
  cursor: default;
}

h1 {
  font-size: 60pt;
  color: Silver;
}

a {
  text-decoration: none;
  color: Silver;
}

.col-1-4 {
  width: 20%;
  height: 5%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.button {
  color: Silver;
  background: rgba(0, 0, 0, 0); /* прозрачность фона*/
  border-radius: 0px; /*закругление рамки*/
  border-color: transparent; /*цвет рамки*/
  font-size: 20pt;
  cursor: pointer;
  text-align: center;
}

.wrapper {
  padding-bottom: 50px;
}

.footer {
  position: fixed;
  height: 100px;
  bottom: 10;
  left: 8%;
  right: 8%;
}

header a {
  text-decoration: none;
}
