{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style_war.css' %}">

<html>
<head>
  <title>Воин</title>
</head>
<body>
  <header>
      <button onclick="window.location.href='/'" class="button">Главная</button>
      <button onclick="window.location.href='/classes'" class="button">Классы</button>
      <button onclick="window.location.href='/slang'" class="button">Сленговый словарь</button>
      <button onclick="window.location.href='/diminishing'" class="button">Диминишинги</button>
      <button onclick="window.location.href='/macro'" class="button">Макросы</button>
  </header>
  <center>
  <br>
  <br>
  <table>
  <tr>
    <th>
      <a class="images" href="#" title="" alt="Оружие"><img src="/static/main/images/armswar.jpg" height="175" alt=""></a>
    </th>
    <th>
      <a class="images" href="#" title="" alt="Неистовство"><img src="/static/main/images/furywar.jpg" height="175" alt=""></a>
    </th>
    <th>
      <a class="images" href="#" title="" alt="Защита"><img src="/static/main/images/protwar.jpg" height="175" alt=""></a>
    </th>
  </tr>
  </table>
  <table class="table2">
  <tr>
    <th colspan=3>Бурстовые способности</th>
  </tr>
  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/avatar.jpg" height="100">
      <b>Аватара</b><br>
      Талант 6 тира<br>
      Инстант, длительность: 20с<br>
      1.5 минуты КД</p>
      <p><b>При использовании: </b>снимает замедления и обездвиживания.<br>
      <b>На время действия: </b>+20% исходящего урона.<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/innerrage.jpg" height="100">
      <b>Безрассудство</b><br>
      Базовая способность<br>
      Инстант, длительность: 12с<br>
      1.5 минуты КД</p>
      <p><b>На время действия: </b>+20% крита, +100% накопления ярости.<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/avatar.jpg" height="100">
      <b>Аватара</b><br>
      Талант 6 тира<br>
      Инстант, длительность: 20с<br>
      1.5 минуты КД</p>
      <p><b>При использовании: </b>снимает замедления и обездвиживания.<br>
      <b>На время действия: </b>+20% исходящего урона.<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/spokoystvie.jpg" height="100">
      <b>Смертельное спокойствие</b><br>
      Талант 6 тира<br>
      Инстант+пассивка<br>
      1.5 минуты КД</p>
      <p><b>Пассивка: </b>+30 максимальной ярости.<br>
      <b>При использовании: </b>следующие 4 абилки не стоят ярости.<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/deathpact.jpg" height="100">
      <b>Инстинкт смерти</b><br>
      PvP-талант<br>
      Инстант, длительность: 15с<br>
      5 секунд КД</p>
      <p><b>При использовании: </b>снимает замедления и обездвиживания.<br>
      <b>На время действия: </b>+5% входящего/исходящего урона.<br> Стакается до 10 раз (50%).<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>

    <td>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/coloss.jpg" height="100">
      <b>Удар колосса</b><br>
      Базовая способность<br>
      Инстант, длительность: 10с<br>
      45 секунд КД</p>
      <p><b>При использовании: </b>снимает замедления и обездвиживания.<br>
      <b>На время действия: </b>+30% урона по цели.<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/proryv.jpg" height="100">
      <b>Прорыв блокады</b><br>
      Талант 7 тира<br>
      Инстант, длительность: 10с<br>
      30 секунд КД</p>
      <p><b>При использовании: </b>наносит урон и даёт 10 ед. ярости.<br>
      <b>На время действия: </b>+15% урона по цели.<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>

    <td>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/warbreaker.jpg" height="100">
      <b>Миротворец</b><br>
      Талант 5 тира, заменяет "Удар колосса"<br>
      Инстант, длительность: 10с<br>
      45 секунд КД</p>
      <p><b>При использовании: </b>наносит АОЕ-урон.<br>
      <b>На время действия: </b>+30% урона по поражённым целям.<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>

    <td>
    </td>

    <td>
    </td>
  </tr>

  <tr>
    <th colspan=3>Сейвы/отхил</th>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/rallyingcry.jpg" height="100">
      <b>Ободряющий клич</b><br>
      Базовая способность<br>
      Инстант, длительность: 10с<br>
      3 минуты КД</p>
      <p><b>На время действия: </b>+20% макс/текущего ХП.<br>
      <b>Не пуржащийся </b>бафф.<br>
      <i>Примечание: может иметь КД 1 мин.<br>
      и давать +35% ХП с PvP-талантом.</i></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/rallyingcry.jpg" height="100">
      <b>Ободряющий клич</b><br>
      Базовая способность<br>
      Инстант, длительность: 10с<br>
      3 минуты КД</p>
      <p><b>На время действия: </b>+20% макс/текущего ХП.<br>
      <b>Не пуржащийся </b>бафф.<br>
      <i>Примечание: может иметь КД 1 мин.<br>
      и давать +35% ХП с PvP-талантом.</i></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/rallyingcry.jpg" height="100">
      <b>Ободряющий клич</b><br>
      Базовая способность<br>
      Инстант, длительность: 10с<br>
      3 минуты КД</p>
      <p><b>На время действия: </b>+20% макс/текущего ХП.<br>
      <b>Не пуржащийся </b>бафф.<br>
      <i>Примечание: может иметь КД 1 мин.<br>
      и давать +35% ХП с PvP-талантом.</i></p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/renewedvigor.jpg" height="100">
      <b>Стойкость к боли</b><br>
      Базовая способность, стоимость: 40 ярости<br>
      Инстант, длительность: 12с<br>
      12 секунд КД</p>
      <p><b>На время действия: </b>игнорирует 50% входящего урона<br>
      (максимум: 3.5*сила атаки*[1+универсальность]).<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/renewedvigor.jpg" height="100">
      <b>Стойкость к боли</b><br>
      Базовая способность, стоимость: 40 ярости<br>
      Инстант, длительность: 12с<br>
      12 секунд КД</p>
      <p><b>На время действия: </b>игнорирует 50% входящего урона<br>
      (максимум: 3.5*сила атаки*[1+универсальность]).<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/renewedvigor.jpg" height="100">
      <b>Стойкость к боли</b><br>
      Базовая способность, стоимость: 40 ярости<br>
      Инстант, длительность: 12с<br>
      12 секунд КД</p>
      <p><b>На время действия: </b>игнорирует 50% входящего урона<br>
      (максимум: 3.5*сила атаки*[1+универсальность]).<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/victoryrush.jpg" height="100">
      <b>Вмешательство</b><br>
      Базовая способность<br>
      Инстант, длительность: 6с<br>
      30 секунд КД</p>
      <p>Рывок к союзнику.<br>
      <b>На время действия: </b>перехватывает физические атаки<br>
      по этому союзнику, пока находится в 10м от него.<br>
      <b>Радиус рывка: </b>25 метров.<br>
      <i>Примечание: с PvP-талантом даёт союзнику<br>
      рефлект (эффект отражения заклинания) на 5с.</i></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/victoryrush.jpg" height="100">
      <b>Вмешательство</b><br>
      Базовая способность<br>
      Инстант, длительность: 6с<br>
      30 секунд КД</p>
      <p>Рывок к союзнику.<br>
      <b>На время действия: </b>перехватывает физические атаки<br>
      по этому союзнику, пока находится в 10м от него.<br>
      <b>Радиус рывка: </b>25 метров.<br>
      <i>Примечание: с PvP-талантом даёт союзнику<br>
      рефлект (эффект отражения заклинания) на 5с.</i></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/victoryrush.jpg" height="100">
      <b>Вмешательство</b><br>
      Базовая способность<br>
      Инстант, длительность: 6с<br>
      30 секунд КД</p>
      <p>Рывок к союзнику.<br>
      <b>На время действия: </b>перехватывает физические атаки<br>
      по этому союзнику, пока находится в 10м от него.<br>
      <b>Радиус рывка: </b>25 метров.<br>
      <i>Примечание: с PvP-талантом даёт союзнику<br>
      рефлект (эффект отражения заклинания) на 5с.</i></p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/warrior_challange.jpg" height="100">
      <b>Бой насмерть</b><br>
      Базовая способность<br>
      Инстант, длительность: 8с<br>
      2 минуты КД</p>
      <p><b>На время действия: </b>-30% входящего урона,<br>
      +100% парирования атак.<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/focusedrage.jpg" height="100">
      <b>Безудержное восстановление</b><br>
      Базовая способность<br>
      Инстант, длительность: 8с<br>
      2 минуты КД</p>
      <p><b>На время действия: </b>-30% входящего урона,<br>
      +20% ХП регена при использовании "Кровожадности".<br>
      <b>Не пуржащийся </b>бафф.<br>
      <u>Можно использовать в стане.</u></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/shieldwall.jpg" height="100">
      <b>Глухая оборона</b><br>
      Базовая способность<br>
      Инстант, длительность: 8с<br>
      4 минуты КД</p>
      <p><b>На время действия: </b>-40% входящего урона.<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/defensivestance.jpg" height="100">
      <b>Оборонительная стойка</b><br>
      Талант 4 тира<br>
      Инстант<br>
      12 секунд КД</p>
      <p><b>На время действия: </b>-20% входящего/исходящего урона.<br>
      Действует до повторного использования.<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/raskraska.jpg" height="100">
      <b>Боевая раскраска</b><br>
      Талант 4 тира<br>
      Пассивка<br><br></p>
      <p>Пока активен эффект "Исступление",<br>
      воин получает на 10% меньше урона.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/ashestoashes.jpg" height="100">
      <b>Ни шагу назад</b><br>
      Базовая способность<br>
      Инстант, длительность: 15с<br>
      3 минуты КД</p>
      <p><b>На время действия: </b>+30% макс/текущего ХП воина.<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>
  </tr>

  <tr>
    <td>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/bloodlust.jpg" height="100">
      <b>Кровожадность</b><br>
      Базовая способность<br>
      Инстант<br>
      6 секунд КД</p>
      <p><b>При использовании: </b>наносит небольшой урон и регенит<br>
      3% ХП воину (с 30% вероятностью вызывает "Исступление").<br>
      <i>Примечание: с талантом 4 тира после "Рывка"<br>
      следующая "Кровожадность" регенит 10% ХП.</i></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/warcry.jpg" height="100">
      <b>Деморализующий крик</b><br>
      Базовая способность<br>
      Инстант, длительность: 8с<br>
      45 секунд КД</p>
      <p><b>При использовании: </b>АОЕ-дебафф.<br>
      <b>На время действия: </b>-20% урона по воину<br>
      от поражённых соперников.<br>
      <b>Радиус: </b>10 метров.<br>
      <b>Не диспелящийся </b>дебафф.<br>
      <i>Примечание: с PvP-талантом КД сокращается<br>
      до 30 секунд, а уменьшение урона распространяется<br>
      на союзников воина.</i></p>
    </td>
  </tr>

  <tr>
    <th colspan=3>Контроли/прерывания</th>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/golemthunderclap.jpg" height="100">
      <b>Устрашающий крик</b><br>
      Базовая способность<br>
      Инстант, длительность: 6с<br>
      1.5 минуты КД</p>
      <p><b>При использовании: </b>страх на цель (стоит на месте) +<br>
      АОЕ-страх врагов вокруг цели в радиусе 8м (разбегаются);<br>
      эффект снимается большим уроном.<br>
      <b>Радиус: </b>8 метров.<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/golemthunderclap.jpg" height="100">
      <b>Устрашающий крик</b><br>
      Базовая способность<br>
      Инстант, длительность: 6с<br>
      1.5 минуты КД</p>
      <p><b>При использовании: </b>страх на цель (стоит на месте) +<br>
      АОЕ-страх врагов вокруг цели в радиусе 8м (разбегаются);<br>
      эффект снимается большим уроном.<br>
      <b>Радиус: </b>8 метров.<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/golemthunderclap.jpg" height="100">
      <b>Устрашающий крик</b><br>
      Базовая способность<br>
      Инстант, длительность: 6с<br>
      1.5 минуты КД</p>
      <p><b>При использовании: </b>страх на цель (стоит на месте) +<br>
      АОЕ-страх врагов вокруг цели в радиусе 8м (разбегаются);<br>
      эффект снимается большим уроном.<br>
      <b>Радиус: </b>8 метров.<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/stormbolt.jpg" height="100">
      <b>Удар громовержца</b><br>
      Талант 2 тира<br>
      Инстант, длительность: 4с<br>
      30 секунд КД</p>
      <p><b>При использовании: </b>оглушает цель и наносит ей<br>
      малый урон.<br>
      <b>Радиус: </b>20 метров.<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/stormbolt.jpg" height="100">
      <b>Удар громовержца</b><br>
      Талант 2 тира<br>
      Инстант, длительность: 4с<br>
      30 секунд КД</p>
      <p><b>При использовании: </b>оглушает цель и наносит ей<br>
      малый урон.<br>
      <b>Радиус: </b>20 метров.<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/stormbolt.jpg" height="100">
      <b>Удар громовержца</b><br>
      Талант 2 тира<br>
      Инстант, длительность: 4с<br>
      30 секунд КД</p>
      <p><b>При использовании: </b>оглушает цель и наносит ей<br>
      малый урон.<br>
      <b>Радиус: </b>20 метров.<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/inv_gauntlets_04.jpg" height="100">
      <b>Зуботычина</b><br>
      Базовая способность<br>
      Инстант, длительность: 4с<br>
      15 секунд КД</p>
      <p><b>При использовании: </b>прерывает каст цели<br>
      и блокирует соответствующую школу магии.<br>
      <b>Радиус: </b>мили-зона.<br></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/inv_gauntlets_04.jpg" height="100">
      <b>Зуботычина</b><br>
      Базовая способность<br>
      Инстант, длительность: 4с<br>
      15 секунд КД</p>
      <p><b>При использовании: </b>прерывает каст цели<br>
      и блокирует соответствующую школу магии.<br>
      <b>Радиус: </b>мили-зона.<br></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/inv_gauntlets_04.jpg" height="100">
      <b>Зуботычина</b><br>
      Базовая способность<br>
      Инстант, длительность: 4с<br>
      15 секунд КД</p>
      <p><b>При использовании: </b>прерывает каст цели<br>
      и блокирует соответствующую школу магии.<br>
      <b>Радиус: </b>мили-зона.<br></p>
    </td>
  </tr>

  <tr>
    <td>
    </td>

    <td>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/shockwave.jpg" height="100">
      <b>Ударная волна</b><br>
      Базовая способность<br>
      Инстант, длительность: 2с<br>
      40 секунд КД</p>
      <p><b>При использовании: </b>наносит малый урон и<br>
      и оглушает цели на линии перед воином.<br>
      <b>Радиус: </b>10 метров.<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>
  </tr>

  <tr>
    <td>
    </td>

    <td>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/inv_helm_plate_draenorquest95_b_01.jpg" height="100">
      <b>Военный тяжеловоз</b><br>
      PvP-талант<br>
      Пассивка, длительность: 3с<br><br></p>
      <p>Приземляясь после "Героического прыжка", воин<br>
      оглушает все поражённые цели.<br>
      <b>Радиус: </b>8 метров.<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>
  </tr>

  <tr>
    <th colspan=3>Мобильность/антиконтроль</th>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/charge.jpg" height="100">
      <b>Рывок</b><br>
      Базовая способность<br>
      Инстант<br>
      20 секунд КД</p>
      <p><b>При использовании: </b>совершает рывок к цели<br>
      и обездвиживает её на 1 секунду.<br>
      <b>Радиус: </b>8-25 метров.<br>
      <i>Примечание: может иметь 2 заряда и КД 17с<br>
      с талантом 2 тира, но тогда у воина не будет<br>
      "Удара громовержца".</i></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/charge.jpg" height="100">
      <b>Рывок</b><br>
      Базовая способность<br>
      Инстант<br>
      20 секунд КД</p>
      <p><b>При использовании: </b>совершает рывок к цели<br>
      и обездвиживает её на 1 секунду.<br>
      <b>Радиус: </b>8-25 метров.<br>
      <i>Примечание: может иметь 2 заряда и КД 17с<br>
      с талантом 2 тира, но тогда у воина не будет<br>
      "Удара громовержца".</i></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/charge.jpg" height="100">
      <b>Рывок</b><br>
      Базовая способность<br>
      Инстант<br>
      20 секунд КД</p>
      <p><b>При использовании: </b>совершает рывок к цели<br>
      и обездвиживает её на 1 секунду.<br>
      <b>Радиус: </b>8-25 метров.<br>
      <i>Примечание: может иметь 2 заряда и КД 17с<br>
      с талантом 2 тира, но тогда у воина не будет<br>
      "Удара громовержца".</i></p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/ability_heroicleap.jpg" height="100">
      <b>Героический прыжок</b><br>
      Базовая способность<br>
      Инстант<br>
      45 секунд КД</p>
      <p><b>При использовании: </b>прыгает в указанную точку<br>
      и наносит малый урон в радиусе 8м от места приземления.<br>
      <b>Радиус: </b>8-40 метров.<br>
      <i>Примечание: может иметь КД 30с и ускорение<br>
      на 70% на 3с после приземления, но тогда у воина<br>
      не будет "Оборонительной стойки".</i></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/ability_heroicleap.jpg" height="100">
      <b>Героический прыжок</b><br>
      Базовая способность<br>
      Инстант<br>
      45 секунд КД</p>
      <p><b>При использовании: </b>прыгает в указанную точку<br>
      и наносит малый урон в радиусе 8м от места приземления.<br>
      <b>Радиус: </b>8-40 метров.<br>
      <i>Примечание: может иметь КД 30с и ускорение<br>
      на 70% на 3с после приземления, но это талант 4 тира,<br>
      см. "сейвы/отхил".</i></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/ability_heroicleap.jpg" height="100">
      <b>Героический прыжок</b><br>
      Базовая способность<br>
      Инстант<br>
      45 секунд КД</p>
      <p><b>При использовании: </b>прыгает в указанную точку<br>
      и наносит малый урон в радиусе 8м от места приземления.<br>
      <b>Радиус: </b>8-40 метров.<br>
      <i>Примечание: может иметь КД 30с и ускорение<br>
      на 70% на 3с после приземления с талантом 4 тира.</i></p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/spell_nature_ancestralguardian.jpg" height="100">
      <b>Ярость берсерка</b><br>
      Базовая способность<br>
      Инстант, длительность: 6с<br>
      1 минута КД</p>
      <p><b>При использовании: </b>освобождает от эффектов<br>
      страха, ошеломления и паралича.<br>
      <b>На время действия: </b>даёт иммун к вышеперечисленным<br>
      эффектам.<br></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/spell_nature_ancestralguardian.jpg" height="100">
      <b>Ярость берсерка</b><br>
      Базовая способность<br>
      Инстант, длительность: 6с<br>
      1 минута КД</p>
      <p><b>При использовании: </b>освобождает от эффектов<br>
      страха, ошеломления и паралича.<br>
      <b>На время действия: </b>даёт иммун к вышеперечисленным<br>
      эффектам.<br></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/spell_nature_ancestralguardian.jpg" height="100">
      <b>Ярость берсерка</b><br>
      Базовая способность<br>
      Инстант, длительность: 6с<br>
      1 минута КД</p>
      <p><b>При использовании: </b>освобождает от эффектов<br>
      страха, ошеломления и паралича.<br>
      <b>На время действия: </b>даёт иммун к вышеперечисленным<br>
      эффектам.<br></p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/ability_warrior_bladestorm.jpg" height="100">
      <b>Вихрь клинков</b><br>
      Базовая способность<br>
      Инстант, длительность: 6с<br>
      1.5 минуты КД</p>
      <p><b>При использовании: </b>освобождает от эффектов<br>
      обездвиживаний и замедлений.<br>
      <b>На время действия: </b>наносит урон по окружающим<br>
      целям и даёт воину иммун ко всем замедлениям и контролям.<br>
      <i>Примечание 1: длительность тем ниже, чем выше показатель скорости.</i><br>
      <i>Примечание 2: имеет КД 1 мин. и добавляет эффект мортала (снижения эффективности исцеления) ко всем поражённым целям при использовании PvP-таланта.</i></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/ability_warrior_bladestorm.jpg" height="100">
      <b>Вихрь клинков</b><br>
      Талант 6 тира<br>
      Инстант, длительность: 6с<br>
      1.5 минуты КД</p>
      <p><b>При использовании: </b>освобождает от эффектов<br>
      обездвиживаний и замедлений.<br>
      <b>На время действия: </b>наносит урон по окружающим<br>
      целям и даёт воину иммун ко всем замедлениям и контролям.<br>
      <i>Примечание: длительность тем ниже, чем выше показатель скорости.</i></p>
    </td>

    <td>
    </td>
  </tr>

  <tr>
    <td>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/ability_racial_bloodrage.jpg" height="100">
      <b>Кровавая ярость</b><br>
      PvP-талант<br>
      Инстант, длительность: 4с<br>
      20 секунд КД</p>
      <p><b>При использовании: </b>освобождает от эффектов<br>
      обездвиживаний и замедлений, отнимает 5% ХП воина.<br>
      <b>За время действия: </b>даёт 40 ед. ярости.<br></p>
    </td>

    <td>
    </td>
  </tr>

  <tr>
    <th colspan=3>Утилити и то, о чём просто лучше знать</th>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/reflection.jpg" height="100">
      <b>Отражение заклинаний</b><br>
      Базовая способность<br>
      Инстант, длительность: 5с<br>
      25 секунд КД</p>
      <p><b>На время действия: </b>-20% входящего маг.урона +<br>
      отражение направленных на воина заклинаний.<br>
      После первого отражения эффект спадает.<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/reflection.jpg" height="100">
      <b>Отражение заклинаний</b><br>
      Базовая способность<br>
      Инстант, длительность: 5с<br>
      25 секунд КД</p>
      <p><b>На время действия: </b>-20% входящего маг.урона +<br>
      отражение направленных на воина заклинаний.<br>
      После первого отражения эффект спадает.<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/reflection.jpg" height="100">
      <b>Отражение заклинаний</b><br>
      Базовая способность<br>
      Инстант, длительность: 5с<br>
      25 секунд КД</p>
      <p><b>На время действия: </b>-20% входящего маг.урона +<br>
      отражение направленных на воина заклинаний.<br>
      После первого отражения эффект спадает.<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/disarm.jpg" height="100">
      <b>Обезоруживание</b><br>
      PvP-талант<br>
      Инстант, длительность: 6с<br>
      45 секунд КД</p>
      <p><b>На время действия: </b>обезоруживает цель (не даёт использовать способности, завязанные на оружии или щите).<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/disarm.jpg" height="100">
      <b>Обезоруживание</b><br>
      PvP-талант<br>
      Инстант, длительность: 6с<br>
      45 секунд КД</p>
      <p><b>На время действия: </b>обезоруживает цель (не даёт использовать способности, завязанные на оружии или щите).<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/disarm.jpg" height="100">
      <b>Обезоруживание</b><br>
      PvP-талант<br>
      Инстант, длительность: 6с<br>
      45 секунд КД</p>
      <p><b>На время действия: </b>обезоруживает цель (не даёт использовать способности, завязанные на оружии или щите).<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/shatteringthrow.jpg" height="100">
      <b>Сокрушительный бросок</b><br>
      Базовая способность<br>
      Каст: 1.5с (не сбивающийся)<br>
      3 минуты КД</p>
      <p><b>При использовании: </b>наносит небольшой урон и снимает с цели эффекты магического иммуна (например, БоП или бабл у паладина).<br>
      <i>Примечание 1: наносит больше урона, если на цели висит большой щит.<br>
      Примечание 2: КД может быть снижено до 1 минуты с PvP-талантом.</i></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/shatteringthrow.jpg" height="100">
      <b>Сокрушительный бросок</b><br>
      Базовая способность<br>
      Каст: 1.5с (не сбивающийся)<br>
      3 минуты КД</p>
      <p><b>При использовании: </b>наносит небольшой урон и снимает с цели эффекты магического иммуна (например, БоП или бабл у паладина).<br>
      <i>Примечание 1: наносит больше урона, если на цели висит большой щит.<br>
      Примечание 2: КД может быть снижено до 1 минуты с PvP-талантом.</i></p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/shatteringthrow.jpg" height="100">
      <b>Сокрушительный бросок</b><br>
      Базовая способность<br>
      Каст: 1.5с (не сбивающийся)<br>
      3 минуты КД</p>
      <p><b>При использовании: </b>наносит небольшой урон и снимает с цели эффекты магического иммуна (например, БоП или бабл у паладина).<br>
      <i>Примечание 1: наносит больше урона, если на цели висит большой щит.<br>
      Примечание 2: КД может быть снижено до 1 минуты с PvP-талантом.</i></p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/mortal.jpg" height="100">
      <b>Смертельный удар</b><br>
      Базовая способность<br>
      Инстант, длительность: 10с<br>
      6 секунд КД</p>
      <p><b>При использовании: </b>наносит существенный урон цели.<br>
      <b>На время действия: </b>цель получает на 25% меньше исцеления.<br>
      <b>Не диспелящийся </b>дебафф.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/spell_shadow_unholyfrenzy.jpg" height="100">
      <b>Исступление</b><br>
      Базовая способность<br>
      Пассивка<br><br></p>
      <p>Срабатывает с 30% вероятностью после "Кровожадности" и всегда после "Буйства" (основной расходник ярости).<br>
      <b>На время действия: </b>увеличивает урон на 11% (или больше - за счёт искусности), скорость на 15%, скорость передвижения - на 10%.</p>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/ability_warrior_shieldguard.jpg" height="100">
      <b>Телохранитель</b><br>
      PvP-талант.<br>
      Инстант, длительность: 1 мин<br>
      15 секунд КД</p>
      <p><b>На время действия: </b>переносит с союзника на себя 40% получаемого им физического урона.<br>
      <b>Отменяется, </b>если союзник окажется более чем в 15 метрах от воина.</p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/spell_warrior_sharpenblade.jpg" height="100">
      <b>Заточка клинка</b><br>
      PvP-талант.<br>
      Инстант<br>
      25 секунд КД</p>
      <p>Следующий "Смертельный удар" наносит на 15% больше урона и снижает исцеление цели на 50% на 6 секунд.<br>
      <b>Не пуржащийся </b>бафф.</p>
    </td>

    <td>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/bloodandthunder.jpg" height="100">
      <b>Громовой раскат</b><br>
      PvP-талант.<br>
      Пассивка<br><br></p>
      <p>"Удар грома" обездвиживает все поражённые цели на 1 сек.</p>
    </td>
  </tr>

  <tr>
    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/banner.jpg" height="100">
      <b>Боевое знамя</b><br>
      PvP-талант.<br>
      Инстант, длительность: 15с<br>
      1.5 минуты КД</p>
      <p><b>На время действия: </b>союзники получают +30% скорости передвижения и -50% длительности контроля по ним.<br>
      <b>Радиус: </b>30 метров.</p>
    </td>

    <td>
    </td>

    <td>
      <p><img hspace="0" vspace="0" align="left" src="/static/main/images/spell_warrior_dragoncharge.jpg" height="100">
      <b>Рывок дракона</b><br>
      PvP-талант.<br>
      Инстант<br>
      20 секунд КД</p>
      <p>Совершает рывок вперед на 40 метров, наносит небольшой урон соперникам на пути и отбрасывает их.</p>
    </td>
  </tr>
  </center>
</body>
</html>
