{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style_classes.css' %}">

<html>
<head>
    <title>PvP и всё о нём</title>
</head>
<body>
<header>
    <button onclick="window.location.href='/'" class="button">Главная</button>
    <button onclick="window.location.href='/classes'" class="button">Классы</button>
    <button onclick="window.location.href='/slang'" class="button">Сленговый словарь</button>
    <button onclick="window.location.href='/diminishing'" class="button">Диминишинги</button>
    <button onclick="window.location.href='/macro'" class="button">Макросы</button>
</header>

<div>
    <button onclick="window.location.href='/classes/warrior'" class="button warrior col-1-4"></button>
    <button onclick="window.location.href='/classes/druid'" class="button paladin col-1-4"></button>
    <button onclick="window.location.href='/classes/monk'" class="button hunter col-1-4"></button>
    <button onclick="window.location.href='/classes/mage'" class="button rogue col-1-4"></button>
</div>

<div>
    <button onclick="window.location.href='/classes/paladin'" class="button priest col-1-4"></button>
    <button onclick="window.location.href='/classes/hunter'" class="button shaman col-1-4"></button>
    <button onclick="window.location.href='/classes/rogue'" class="button mage col-1-4"></button>
    <button onclick="window.location.href='/classes/priest'" class="button warlock col-1-4"></button>
</div>

<div>
    <button onclick="window.location.href='/classes/deathknight'" class="button monk col-1-4"></button>
    <button onclick="window.location.href='/classes/shaman'" class="button druid col-1-4"></button>
    <button onclick="window.location.href='/classes/warlock'" class="button demonhunter col-1-4"></button>
    <button onclick="window.location.href='/classes/demonhunter'" class="button deathknight col-1-4"></button>
</div>
</body>
</html>
