{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style_index.css' %}">

<div class="wrapper">
<header>
    <center>
        <a href="/"><h1> Обзор специализаций в PvP в Shadowlands </h1></a>
    </center>
</header>

<div class="footer">
    <button onclick="window.location.href='/classes'" class="button col-1-4">Классы и специализации</button>
    <button onclick="window.location.href='/slang'" class="button col-1-4">Сленговый словарь для начинающих</button>
    <button onclick="window.location.href='/diminishing'" class="button col-1-4">Diminishing returns - зачем, почему и за что?</button>
    <button onclick="window.location.href='/macro'" class="button col-1-4">Основы написания макросов</button>
</div>
</div>

<html>
<head>
    <title>PvP и всё о нём</title>
</head>
</html>
