{% load static %}
{% load slang %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style_macro.css' %}">

<html>
<head>
  <title>Макросы</title>
</head>
<body>
  <header>
      <button onclick="window.location.href='/'" class="button">Главная</button>
      <button onclick="window.location.href='/classes'" class="button">Классы</button>
      <button onclick="window.location.href='/slang'" class="button">Сленговый словарь</button>
      <button onclick="window.location.href='/diminishing'" class="button">Диминишинги</button>
      <button onclick="window.location.href='/macro'" class="button">Макросы</button>
  </header>
  <h1>И зачем мне эти ваши макросы?<br>Я что вам, какая-то р1 сова с АТ, чтобы так потеть?</h1>
  <br>
  <p>Собственно, основной функционал макросов как раз заточен на то, чтобы жизнь игрока облегчить, ускорить его действия. Подумайте, какой из игроков совершит действие быстрее: тот, кто будет мышкой менять таргет, кастовать что-то в него, а потом точно так же менять мышкой таргет обратно, или тот, кто будет одной комбинацией клавиш делать всё то же самое, даже не меняя цели? А у кого из них эффект неожиданности будет выше?</p>
  <br>
  <div class="info">
  <input id="info__body_1" class="info__switch" type="checkbox">
  <label for="info__body_1" class="info__headline">Начало: выбор цели (фокус, цели на арене, пати и т.д.)</label>
  <div class="info__body">
    Для выбора цели используется команда <b>/target</b> или <b>/t</b> в сокращённом виде. После указывается сама цель: <b>/target player</b>, например, возьмёт в цель самого игрока.
<br>На место player можно подставить:<br>
<br><b>party1</b> или <b>party2</b> – взятие в цель 1-го или 2-го участника вашей группы соответственно;<br>
<br><b>arena1</b>, <b>arena2</b> или <b>arena3</b> – взятие в цель 1-го/2-го/3-го участника противоположной команды на арене;<br>
<br><b>focus</b> – взятие в цель вашего фокуса, если он, конечно, существует.<br>
<br>Есть и несколько более сложные варианты, которые применяются реже:<br>
<br><b>mouseover</b> – взятие в цель объекта, на котором находится в данный момент ваша мышь;<br>
<br><b>targettarget</b> – взятие в цель цели вашей текущей цели; может пользоваться хилами при ассисте уроном своему ДД, как вариант;<br>
<br><b>arenapet1</b>, <b>arenapet2</b>, <b>arenapet3</b> – взятие в цель пета соответствующего соперника на арене; может пригодиться для персонажей с наличием таунта для перенаправления на себя урона, контроля или сбития с себя контроля.<br>
  </div>
  </div>

  <div class="info">
  <input id="info__body_2" class="info__switch" type="checkbox">
  <label for="info__body_2" class="info__headline">Использование способностей, экипировки и всего на свете</label>
  <div class="info__body">
    Для использования чего-либо в WoW существуют команды <b>/cast</b> и <b>/use</b>; раньше между ними была разница в том, что одно пользовалось только для заклинаний, а второе – для предметов, но в данный момент обе команды полноценно пользуются для всего.<br>
<br>
Общий синтаксис в простейшем случае выглядит следующим образом:<br>
<br><b>/cast [условие] способность</b><br><br>
В условии может быть цель и/или проверка цели на определенные требования (друг/враг, жив/мертв и др.).<br>
В более сложных случаях условий может быть несколько, см. "Примеры множественных условий".<br>

Далее будут приведены простые примеры макросов, на основе которых можно написать собственные того же типа.<br>
<br><b>/cast [@focus] Стрела Хаоса</b><br><br>
На место фокуса можно подставить любую другую цель, на место хаосболта – другое заклинание, способность, используемый тринкет, ковенант и что душе угодно. Естественно, с учётом того, к каким целям применимо то, что вы собираетесь применить.<br>
<br><b>/cast [@cursor] Замораживающая ловушка</b><br><br>
Макросы по курсору – отличное решение, если вам нужно быстро использовать некоторую способность, которую изначально нужно прожимать несколько раз.<br>
<br><b>/cast [nomod, @arena1] Превращение; [mod:shift, @arena2] Превращение; [mod:ctrl, @arena3] Превращение</b><br><br>
При простом нажатии этого макроса на арене маг использует шип на первого врага на арене, с shift – на второго, с ctrl – на третьего. Всего модификаторов три: shift, alt, ctrl, плюс возможность использовать без модификатора (nomod). Если в одном из условий указан модификатор, то в остальных он тоже должен быть указан (условие nomod в первой части опустить нельзя, макрос не будет работать).<br>
<br>
Кроме того, что можно кастовать, можно ведь и... не кастовать, правда? И на это есть макрос. Так, простая строчка в макросе: /stopcasting прервёт ваш текущий каст ровно так же, как если бы вы подпрыгнули или нажали Esc.<br>
Пример: мне для того, чтобы нажать ШВД (Слово силы: Смерть) в каст овцы мага, нужно остановить свой текущий каст. Тут поможет следующее сочетание:<br>
<br><b>/stopcasting<br>
/cast Слово силы: Смерть</b><br><br>
Тут, правда, нужно одно важное замечание: <b>stopcasting</b> магией не обладает и ГКД не сбрасывает, поэтому если вы уже запустили Исповедь, приготовьтесь блеять об опасности вашим союзникам погромче.<br>
  </div>
  </div>

  <div class="info">
  <input id="info__body_3" class="info__switch" type="checkbox">
  <label for="info__body_3" class="info__headline">Условия в макросах</label>
  <div class="info__body">
    После прочтения предыдущего пункта должен возникнуть закономерный вопрос: так а что же ещё можно впихнуть в условия?<br>
    Ответ неоднозначен: много что. И это "много что" можно ещё и отрицать, добавляя "no" перед исходным условием, примеры которых будут указаны ниже.<br>
    <br>
    <ul>
        <li>combat - выполняется, если вы в бою;</li>
        <li>harm - выполняется, если цель абилки - враг;</li>
        <li>help - выполняется, если цель абилки - союзник;</li>
        <li>dead - выполняется, если цель абилки мертва;</li>
        <li>exists - выполняется, если цель вообще существует;</li>
        <li>channeling - выполняется, если вы в данный момент кастуете потоковое заклинание ("Контроль над разумом" у жреца, например)</li>
    </ul>
    <br>
    Пример применения "no": nodead - выполняется, если цель абилки жива.<br>
    На самом деле таких условий существует ещё с десяток-другой, но в PvP они точно никакого применения не найдут; вышеуказанные гипотетически могут.<br>
  </div>
  </div>

  <div class="info">
  <input id="info__body_4" class="info__switch" type="checkbox">
  <label for="info__body_4" class="info__headline">Использование экипировки с помощью макросов</label>
  <div class="info__body">
    Как было сказано ранее, при помощи <b>/use</b> или <b>/cast</b> можно использовать предметы собственной экипировки; речь, в основном, о тринкетах, но далее будет указан полный список слотов на случай того, если Blizzard внезапно придумают используемую в PvP гербовую накидку.<br>
    <br>
    Так, чтобы использовать слот №1, нужно прописать в макросе:<br><br>
    <b>/use 1</b><br><br>
    А сами слоты имеют следующую нумерацию:
    <ol>
        <li>Голова</li>
        <li>Шея</li>
        <li>Плечо</li>
        <li>Рубашка</li>
        <li>Грудь</li>
        <li>Пояс</li>
        <li>Ноги</li>
        <li>Сапоги</li>
        <li>Запястья</li>
        <li>Руки</li>
        <li>Кольцо 1</li>
        <li>Кольцо 2</li>
        <li>Аксессуар 1</li>
        <li>Аксессуар 2</li>
        <li>Плащ</li>
        <li>Оружие в правой руке</li>
        <li>Оружие в левой руке</li>
        <li>(ещё не придумали)</li>
        <li>Гербовая накидка</li>
    </ol>
  </div>
  </div>

  <div class="info">
  <input id="info__body_5" class="info__switch" type="checkbox">
  <label for="info__body_5" class="info__headline">Оформление макроса под практические нужды</label>
  <div class="info__body">
    Можно, конечно, поставить красивую иконку и радоваться жизни, а можно сделать макрос ещё более функциональным: так, чтобы он показывал вам нужное КД.<br>
Делается это следующим образом: в начале макроса первой строчкой прописывается, к примеру:<br><br>
<b>#showtooltip Замораживающая ловушка</b><br><br>
С такой строчкой макрос автоматически получит иконку хантовской трапы (в случае, если вы хант, разумеется; иначе макрос сделает недоуменное лицо и выдаст вам знак вопроса) и будет, как и обычная трапа на панельке, показывать вам время восстановления этой способности.<br>
В случае, если в макросе находится только одна абилка, можно и вовсе не писать её название, а просто прописать первой строчкой <b>#showtooltip</b>, макрос автоматически выведет её иконку и будет отслеживать КД.
<br>В случае, если у вас в макрос вбито несколько КД одновременно, а вы хотите использовать их все сразу, разумно поставить в <b>#showtooltip</b> самое долгое КД, и совершенно неважно, будет это тринкет, ваш личный бурст или абилка ковенанта.
  </div>
  </div>

  <div class="info">
  <input id="info__body_6" class="info__switch" type="checkbox">
  <label for="info__body_6" class="info__headline">Отмена бафа на себе</label>
  <div class="info__body">
    С точки зрения начинающего игрока это, должно быть, звучит глупо: на кой чёрт мне, спрашивается, собственновольно снимать с себя бафы? Я что, самоубийца?<br>
Но такая необходимость действительно иногда присутствует, и связана она с магами; если быть точнее, с их способностью воровать магические эффекты с соперников.<br><br>
<b>Важно:</b> при попытке снять с себя что-либо помните о том, что название бафа <u>не всегда</u> (хоть и часто) совпадает с названием спелла, который этот баф накладывает.<br>
Производится снятие, к примеру, следующей строчкой: <br><br>
<b>/cancelaura Благословение защиты</b><br><br>
Таким образом вы снимаете с себя паладинский БоП после того, как он сыграл свою роль (снял контроль или дебафф) и не позволяете чужому магу забрать его.
  </div>
  </div>

  <div class="info">
  <input id="info__body_7" class="info__switch" type="checkbox">
  <label for="info__body_7" class="info__headline">Примеры множественных условий в макросах</label>
  <div class="info__body">
    Есть разные варианты "сложения" условий. Если мы хотим, чтобы условия выполнялись одновременно, то мы указываем их через запятую:<br>
    <br><b>#showtooltip<br>/cast [harm, nodead] Превращение</b><br><br>
    К примеру, такой макрос будет кастовать шип только в случае, если ваша цель - враг, и она жива.<br><br>
    Если мы хотим, чтобы при выполнении первого условия исполнялось одно, а если первое не выполняется - исполнялось второе, мы указываем их в двух парах скобок (можно и в бОльшем количестве, зависит лишь от вашей фантазии и степени упоротости в написании макроса):<br>
    <br><b>#showtooltip<br>/cast [@focus, exists][@target] Превращение</b><br><br>
    Такой макрос будет пытаться шипать цель в фокусе, если же в фокусе нет цели - тогда будет шипать текущую цель.<br><br>
    Всё остальное создаётся, по сути, комбинацией всего вышеперечисленного.<br>
    Из потенциально полезного (хоть и не в бою) могу добавить такую вещь:<br><br>
    <b>#showtooltip<br>/cast [talent:4/3] Глубинный ужас; [talent:4/2] Мыслебомба;</b><br><br>
    При помощи подобного макроса можно не менять кнопки для используемых талантов.<br><br>
  </div>
  </div>

  <div class="info">
  <input id="info__body_8" class="info__switch" type="checkbox">
  <label for="info__body_8" class="info__headline">Castsequence</label>
  <div class="info__body">
    <b>/castsequence</b> - фиксированная цепочка способностей/предметов. Обычно в макрос вставляются вещи на разных ГКД, дабы они прожимались одновременно; например, какой-то отдельный бурст и тринкет, в PvE к этому списку может добавиться препот или нечто подобное.<br>
    Способности и предметы в <b>/castsequence</b> прописываются через запятую: <br><br>
    <b>#showtooltip<br>/castsequence 13, Неистовые кулаки, Удар восходящего солнца, Удар крутящегося дракона</b><br><br>
    Такой макрос последовательно использует: первый тринкет, Неистовые кулаки (их можно использовать в одно ГКД, но нажать кнопку нужно будет два раза), Удар восходящего солнца (на третье нажатие, которое будет доступно спустя ГКД после нажатия кулаков) и Удар крутящегося дракона (на четвертое нажатие спустя ГКД после предыдущего удара).
    <br>Во время прохода "цикла" #showtooltip будет показывать ту абилку, которую можно будет прожать следующей.<br>
    После окончания "цикла" всё возвращается в начало.<br><br>
    <b>/castsequence</b>, помимо обычных условий, имеет собственные "условия сброса". Укажем их последовательно:<br><br>
    <b>#showtooltip<br>/castsequence reset=10 13, Неистовые кулаки, Удар восходящего солнца</b><br><br>
    Условие <b>reset=10</b> означает, что если вы 10 секунд не использовали макрос, последовательность автоматически вернётся в начало.<br><br>
    <b>#showtooltip<br>/castsequence reset=10/target 13, Неистовые кулаки, Удар восходящего солнца</b><br><br>
    Таким образом (через слэш) в <b>/castsequence</b> указываются множественные условия. Условие <b>reset=target</b> означает, что если вы смените цель, последовательность автоматически вернётся в начало.<br><br>
    <b>#showtooltip<br>/castsequence reset=10/target/alt Лапа тигра, 13, Неистовые кулаки, Удар восходящего солнца</b><br><br>
    Кроме того, "сбрасывать" последовательность можно модификатором. Так, при нажатии данного макроса при зажатом Alt он будет использовать Лапу тигра, если же отпустить Alt (после хотя бы одного применения "Лапы", это важно, иначе сброса не произойдёт), последовательность пойдёт ко второму пункту и далее.<br><br>
    Важная деталь: обычные условия (указываемые в квадратных скобках) применяются ко ВСЕЙ последовательности. Если вы прописали <b>/castsequence [@focus] ...</b>, вся перечисленная последовательность абилок будет применяться к вашему фокусу.
  </div>
  </div>
