{% load static %}
{% load slang %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style_slang.css' %}">

<html>
<head>
  <title>Сленговый словарь</title>
  <meta property="og:title" content="PvP и всё о нём" />
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Обзор специализаций в PvP в Shadowlands" />
  <meta property="og:url" content="https://seltsamermann.pythonanywhere.com/" />
  <meta property="og:description" content="Все классоспеки с ковенантами в PvP и многое другое!" />
  <meta property="og:image" content="/static/main/images/logo.jpg" />
</head>
<body>
  <header>
      <button onclick="window.location.href='/'" class="button">Главная</button>
      <button onclick="window.location.href='/classes'" class="button">Классы</button>
      <button onclick="window.location.href='/slang'" class="button">Сленговый словарь</button>
      <button onclick="window.location.href='/diminishing'" class="button">Диминишинги</button>
      <button onclick="window.location.href='/macro'" class="button">Макросы</button>
  </header>
  <center>
    <table>
      <tr>
        <th>
          Англицизм
        </th>
        <th>
          Оригинальное слово
        </th>
        <th>
          Значение
        </th>
      </tr>

      {% counter as counter %}
      {% for i in counter %}
        {% get_slang num=i as current_slang %}
        <tr>
          <td>
            {{ current_slang.slang }}
          </td>
          <td>
            {{ current_slang.original }}
          </td>
          <td>
            {{ current_slang.translation }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </center>
</body>
</html>
